$color-almond: #f1dbc6;
$color-linen: #f0e9df;
$color-sage: #bab995;
$color-russian-green: #748663;
$color-feldgrau: #5c6e5f;
$color-text-dark: #292929;
$color-text-light: #f6f2ee;

$color-mond-light: #1fad72;
$color-mond-dark: #33996f;
$color-liyue-light: #e4bb67;
$color-liyue-dark: #d5be90;
$color-dragon-light: #3ca7dd;
$color-dragon-dark: #228ec3;
